* {
    margin: 0px;
}
h2 {
    font-size: 72px;
     background: linear-gradient(
         #8d10a3 ,#3bd9d9
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
}
.no{
    color: green;
    font-size: 25px;
}
header {
    border: 6px solid grey;
}
form  {
    color: coral;
    border: 6px solid lightblue;
    text-align: center;
}
button, a {
    background-color: black;
    color:silver;
    border-radius: 3px;

}
.thought {
    text-align: center;
    font-size: 17px;
    margin: 5px;
    border: 2px solid slategray;
    padding: 25px;
    width: 380px;
    height: 380px;
}
.footer-box, .thought {
    background-color: #3bd9d9;
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

}
.footer-box h1 ,.thought h1 {
    color: #463dff;
    font-size: 40px;
    position: relative;
    z-index: 1000;
}
.footer-box::after {
    content: "";
    position: absolute;
    background-color: #000;
    inset: 4px;
}
.footer-box::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 240%;
    background: linear-gradient(#031dc2, #d40000);
    animation: border-animation 4s linear infinite ;
}
@keyframes border-animation {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}


.thought::after {
    content: "";
    position: absolute;
    background-color: #000;
    inset: 4px;
}
.thought::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 240%;
    background: linear-gradient(#19c203, #d40000);
    animation: border-animation 4s linear infinite ;
}
@keyframes border-animation {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
.webbox {
    display: grid;
    /* width: 100px;
    height: 100px; */
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr;

}
.child {
    text-align: center;
    width: 320px;
    height: 150px;
}